html, body{
	height: 100%;
	margin: 0;
	padding: 0;
}

@font-face{
    font-family: Montserrat-Regular; /* Гарнитура шрифта */
    src: url(../css/Montserrat-Regular.ttf); /* Путь к файлу со шрифтом */
}

.content{
	background: #27292b;
}

.registration-form{
	padding: 10px 20px;
	color: #4e5051;
	font-family: "Lato-Regular", sans-serif;
	font-size: 13px;
}

input {
	height:40px;
}

.form_element{
	border: 1px solid #4e5051;
	border-radius: 3px;
	display: block;
	background: transparent;
	width: 100%;
}

.phone-number-country,
.phone-number-code,
.phone-number-number{
	display: inline-block;
	box-sizing: border-box;
	margin-left: -4px;
}

.phone-number-country,
.phone-number-code{
	width: 27%;
	margin-right: 2%;
}

.phone-number-number{
	width: 43%;
}

.form_group{
	margin: 0 0 25px 0;
}

.wrap-head{
	background: #27292b;
	font-family: "Montserrat-Regular", sans-serif;
	font-size: 29px;
	color: #fff;
	padding: 15px 15px 0 15px;
}

.container{
	max-width: 470px;
	margin: 0 auto;
}

.goals-form{
	height: 155px;
}

input[type="checkbox"],
input[type="checkbox"] + label {
	display: inline-block;
	vertical-align: middle;
}

input[type="checkbox"] + label {
	max-width: 90%;
}

.school_organization{
	background: url(../img/loupe.jpg) no-repeat;
	background-position: 100% 50%, 100% 100%;
}

button{
	border: 1px solid #4e5051;
	border-radius: 3px;
	display: block;
	background: transparent;
	width: 100%;
	margin: 0 15px 15px 0;
	height: 40px;
}

.button_one{
	background: #6abd97;
	color: #fff;
}
.button_one:hover{
	background-color: #457961;
}
.button_two:hover{
	background-color: #181a1b;
}
input,
textarea {
	outline: 0;
}

.invalid{
	border-color: #da5f5b;
}

.valid{
	border-color: #63ae8c;
}

.pseudo-table {
    display: table;
	width: 100%;
}

label {
    display: table-header-group;
}

input, textarea {
    display: table-row-group;
}

input:focus,
textarea:focus {
	border-color: #fff;
}

input[type="text"]:focus + label,
input[type="tel"]:focus + label,
input[type="email"]:focus + label {
	color: #fff;
}

textarea:focus + label {
	color: #fff;
}

.agree-field{
	margin: 0px 0 20px 0;
}

input[type="checkbox"] + label{
	margin-bottom: -5px;
}

.white-text{
	color: #fff;
	display: inline-block;
}

@media screen and (min-width: 768px) {
		button{
			width:25%;
			height: 40px;
			display: inline-block;
		}
		.container{
			max-width: 600px;
			margin: 0 auto;}
		html, body{
			height: 100%;
			margin: 0;
			padding: 0;
		}
		.content{
			background: #27292b;
			min-height: 100%;
		}
		.registration-form{
			padding: 10px 10px;
			color: #4e5051;
			font-family: "Lato-Regular", sans-serif;
			font-size: 13px;
		}
		.form_group{
		margin: 10px 0 25px 0;
		}
}

@media only screen and (min-width : 320px)
and (max-width : 480px) and (orientation : portrait){
	.head{
		display: none;
	}
}

@media only screen and (min-width : 320px)
and (max-width : 480px) and (orientation : landscape){
	.wrap-head{
	color: #6ABD97;
	}
}

@media screen and (min-width : 768px)
and (max-width : 1024px) and (orientation : portrait){
	.wrap-head{
	color: #A54F4C;
	}
}

@media only screen and (min-width : 768px)
and (max-width : 1024px) and (orientation : landscape){

}
